<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
    <title>ListBeverage</title>
</head>
<body>
<h2>Beverages</h2>
<p>
    <a th:href="@{/beverages/create}">
        Add new beverage
    </a>
</p>

<div class="notify">
    <div th:if="${success}">
        <span th:text="${success}"></span>
    </div>
</div>

<table id = "beverage">
    <thead>
    <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Quantity</th>
        <th>QuantitySold</th>
        <th>Price</th>
        <th>Detail</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row,rowStat : ${beverage}">
        <td th:text="${row.getName()}"></td>
        <td th:text="${row.getCategory()}"></td>
        <td th:text="${row.getQuantity()}"></td>
        <td th:text="${row.getQuantitySold()}"></td>
        <td th:text="${row.getPrice()}"></td>
        <td th:text="${row.getDetail()}"></td>
        <td><a th:href="@{/beverages/{id}/edit(id=${row.getId()})}">edit</a></td>
        <td><a th:href="@{/beverages/{id}/delete(id=${row.getId()})}">delete</a></td>
        <td><a th:href="@{/beverages/{id}/view(id=${row.getId()})}">view</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>